.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem 0;
  @include mq(xsmall) {
    padding: 2rem 2rem 0;
  }
  @include mq(large) {
    padding: 2rem 3rem 0;
  }

  .logo {
    height: auto;
    @include mq(xsmall) {
      width: 140px;
    }
    @include mq(small) {
      width: 160px;
    }
    @include mq(medium) {
      width: 170px;
    }
  }

  &__list {
    position: absolute;
    top: 110px;
    left: 1.5rem;
    right: 1.5rem;
    background: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2.5rem;
    transform: scale(0);
    transition: transform 0.2s ease-out;
    @include mq(large) {
      transform: scale(1);
      padding: 0;
      top: 0;
      left: 0;
      right: 0;
      position: relative;
      background: transparent;
      flex-direction: row;
    }

    &.active {
      transform: scale(1);
    }

    &::after {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      top: -26px;
      right: 0;
      border-top: 14px solid transparent;
      border-left: 14px solid transparent;
      border-right: 14px solid white;
      border-bottom: 14px solid white;
      @include mq(large) {
        display: none;
      }
    }
  }

  &__item {
    @include mq(large) {
      margin-left: 2rem;
    }
    @include mq(xxxlarge) {
      margin-left: 3rem;
    }
  }

  &__list > * + * {
    margin-top: 2rem;
    @include mq(large) {
      margin-top: 0;
    }
  }

  &__contact-btn {
    border-radius: 27.2px;
    padding: 18px 26px;
    background: $yellow;
    @include mq(large) {
      padding: 14px 20px;
      border-radius: 22px;
      background: white;
    }
    @include mq(xxxlarge) {
      border-radius: 27.2px;
      padding: 18px 26px;
    }
  }

  &__btn {
    @include mq(large) {
      display: none;
    }
  }

  &__hamburger {
    @include mq(xsmall) {
      width: 30px;
      height: auto;
    }
    @include mq(small) {
      width: 34px;
    }
    @include mq(medium) {
      width: 38px;
    }
  }
}
