.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 140px 0;
  @include mq(xsmall) {
    padding: 200px 0;
  }
  @include mq(small) {
    height: 750px;
  }
  @include mq(medium) {
    height: 800px;
  }

  @include mq(xwide) {
    height: 900px;
  }

  &__title {
    margin-bottom: 3rem;
    @include mq(xsmall) {
      padding: 0 3rem;
    }
    @include mq(medium) {
      padding: 0 10rem;
    }
    @include mq(xlarge) {
      padding: 0;
      margin-bottom: 5.5rem;
    }
  }
}
